
body{ font-family: Roboto;}
.container_full{ max-width: 1400px; margin: 0 auto; padding-top: 60px; position: relative; z-index: 0;}
.new_form label{ color: #666666;}
.new_form input:disabled{ background: rgba(245,245,245, .8);  color:rgba(102,102,102, .5); }
.new_form input[type=text],
.new_form input[type=number],
.new_form input[type=tel],
.new_form input[type=email],
.new_form input[type=date],
.new_form select{ border: 1px solid #eae7e7;border-radius: 5px; height: 45px; display: block; width: 100%;padding: 0 1rem; background: rgba(255,255,255, .6); color:rgba(102,102,102, 1); transition: all .3s;}


.new_form input:focus, .new_form select:focus{ border:1px solid #9802fb; background: #fff; border-bottom: 3px solid #9802fb; outline: none;}

.menu_new{ position: fixed; width: 200px; left: 50%; z-index: 1000; margin-left: -675px; top: 50px;}
.c_menu{ -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,.08); box-shadow: 0 0 14px 0 rgba(0,0,0,.08); }
.c_menu > ul{overflow: hidden; border-radius: 5px;}
.c_menu li{ display: block;}
.c_menu a{ background: #bab6b6; display: block; padding: .7rem 1rem; color: #fff; text-decoration: none; transition: all .3s; }
.c_menu a.active, .c_menu a:hover{ background: #8308f5;}
.container_full section{ width: calc(100% - 240px); -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,.08); box-shadow: 0 0 14px 0 rgba(0,0,0,.08);  margin-left: auto; border-radius: 5px;}

.border{ border: 1px solid #f00 !important;}


.menu_diagnostico li{ display: inline-block; vertical-align: top;}
.menu_diagnostico li a{ height: 80px; display: block; padding-top: 95px; position: relative; width: 210px; text-align: center; color: #8d8c8c;text-decoration: none !important;}
.menu_diagnostico li a:after{ content: ''; width: 80px; height: 1px; background: #cccccc;  display: inline-block; vertical-align: top; position: absolute; right:0; margin-right: -55px; top: 50%; margin-top: -10px;}
.menu_diagnostico li.active a{color: #7629dd;}

.menu_diagnostico li:nth-child(1) a{ background: url("../images/ico1_active.png") no-repeat center top;}
.menu_diagnostico li:nth-child(2) a{ background: url("../images/ico2.png") no-repeat center top;}
.menu_diagnostico li:nth-child(2).active a{background: url("../images/ico2_active.png") no-repeat center top;}
.menu_diagnostico li:nth-child(3) a{ background: url("../images/ico3.png") no-repeat center top;}
.menu_diagnostico li:nth-child(3).active a{ background: url("../images/ico3_active.png") no-repeat center top;}
.menu_diagnostico li:nth-child(3) a:after{ display: none;}

.container_full {color:#666666;}
.container_full h3{ font-size: 24px; color: #7629dd;}
.container_full h4{ font-size: 16px; text-transform: uppercase; background: #ea00ff; border-radius: 5px;}
.container_full h3:after{ content: ''; width: 50px; height: 1px; background: #7629dd; display: block; margin: 10px auto;}
.container_full section{ background: url("../images/bg.jpg") no-repeat right center; background-attachment: fixed; background-size: 50%;}


.btns{ transition: background .3s; line-height: 45px; height: 45px;
    background: rgb(237,0,255); background: linear-gradient(317deg, rgba(237,0,255,1) 0%, rgba(142,5,248,1) 100%); text-decoration: none !important; border-radius: 5px;
    -webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,.3); box-shadow: 0 0 14px 0 rgba(0,0,0,.3); background-size:100% 200%;
}
.btns.arrow_right:after{content: ''; background: url("../images/arrow.png") no-repeat; width: 17px; height: 11px; display: inline-block; background-size: 17px; margin-left: 20px;transition: all .3s;}
.btns.arrow_left:before{content: ''; background: url("../images/arrow.png") no-repeat; width: 17px; height: 11px; display: inline-block; background-size: 17px; margin-right: 20px;transition: all .3s; transform: rotate(180deg);}
.btns:hover{
    background-size:200% 100%;
}
.btns.arrow_right:hover:after{margin-left: 25px;}
.btns.arrow_left:hover:before{margin-right: 25px;}

.radius{border-radius: 5px;}
.container_question{  background: rgba(245,245,245, .4) no-repeat; border:1px solid #dbdbdb;}

.bg-purple{ background: #f5eefb;}


.c_options_question{ font-size: 14px;}
.c_options_question label{ display: block;}
.c_options_question label *{ display: inline-block; vertical-align: top;}
.c_options_question label input{
    margin-top: 3px;}
.c_options_question label p{ width: calc(100% - 40px); padding-left: 10px;}
.sections section{ display: none;}
.sections section.active{ display: block;}


.tit_menu{ border: 1px solid #8308f5; display: block; padding: .7rem 1rem; color: #8308f5 !important; text-decoration: none !important; background: url("../images/arrow_select.png") no-repeat calc(100% - 10px) center; background-size: 15px;}


@media (min-width: 1024px){
nav.navbar.bootsnav ul.nav > li > a {
    font-size: 12px !important;
}}


@media (min-width: 1024px){
    nav.navbar.bootsnav.navbar-fixed.navbar-transparent .logo-display, nav.navbar.bootsnav.navbar-fixed.no-background .logo-display {
    display: block;
     height: 84% !important;
    }}

@media (max-width: 1424px) {
    .menu_new{ left:0;margin-left: 1.5rem;}
}

@media (max-width: 991px){
    .container_full section{ width: calc(100%);}
    .menu_new{ position: relative; width: 100%; margin-left: 0;height: auto !important; margin-bottom: 4rem; }
    .c_menu ul{ border-top-left-radius: 0; border-top-right-radius: 0;}
    .menu_new > div{ position: absolute; width: 100%; top: 48px; height: auto !important; z-index: 100; max-height: 0; overflow: hidden; transition: all .3s;}
    .menu_new > div.active{ max-height: 260px;}
}

@media (max-width: 767px) {
    .menu_diagnostico li a{ width: 90px;}
    .menu_diagnostico li a:after{ display: none;}
    .btns.arrow_left:before{ margin-right: 10px !important;}
    .btns.arrow_right:before{ margin-left: 10px !important;}
    .menu_diagnostico li a{ width: 80px;}
}